.top{
	background-color: #201b53;
	padding: 10px;
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	box-shadow: 10px 10px 10px #ccc;
}

.carousel-item .img-fluid{
	width: 100%;
	height: auto;
}

.carousel{
	margin-top:10px;
}

.image{
	border-radius: 100%;
	width: 350px;
	height: 350px;
	border: 5px solid white;
	padding: 10px;
	margin-top: 10%;
}
.mid{
	border: 1px solid white;
	background-color: white;
	color: #201b53;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 20px; 
	margin-bottom: 20px;
}

.box1{
	border: 1px;
	background-color: #b20000;
	border-radius: 4px;
	padding: 10px;
	width: 80%;
	margin: 0px auto;
	font-size: 1.5em;
}

.box2{
	border: 1px;
	background-color: #b20000;
	border-radius: 4px;
	padding: 10px;
	width: 80%;
	margin: 0px auto;
	margin-top: 20px;
	font-size: 1.5em;
	margin-bottom: 20px;
}

.box3{
	border: 1px;
	background-color: white;
	color: #201b53;
	border-radius: 4px;
	padding: 10px;
	margin-top: 10px;
	width: 80%;
	margin: 0px auto;
	font-size: 1.5em;
}

.box4{
	border: 1px;
	background-color: white;
	color: #201b53;
	border-radius: 4px;
	padding: 10px;
	margin-top: 10px;
	width: 80%;
	margin: 0px auto;
	font-size: 1.5em;
	margin-top: 20px;
}

.form-control{
	margin-bottom: 15px;
}

.logos{
	width: 20%;
}

.img-logo{
	width: 120px;
	position: absolute;
	z-index: 1;
	margin-top: -35px;
}

