/* Desktop Layout */
@media only screen and (min-width: 992px) and (max-width: 1280px) {
	/* LOGIN */
	#login-system img{
		width: 100%;
	}
	#login-system .or{
		display: none;
	}
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* LOGIN */
	#login-system .col-md-8,
	#login-system .or{
		display: none;
	}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	/* LOGIN */
	#login-system{
		padding: 0px;
	}
	#login-system .col-md-8,
	#login-system .or{
		display: none;
	}
	#login-footer span{
		margin-top: 10px;
	}
	#login-footer{
		height: 75px;
	}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}