/* LOGIN */
#login-system{
	padding: 25px 0px;
}
#login-system .account-box{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}
#login-system .logo{
    height: 225px;
    text-align: center;
    margin: 0px 0px 0px 10px;
    background-position: 0px -4px;
    position: relative;
}
#login-system .forgotLnk{
    margin-top: 10px;
    display: block;
}
#login-system .ghoven-bg{
    background-color: #1c892c;
    color: #fff;
}
#login-system .or-box{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
#login-system .or{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 140px;
}
#login-system .btn-facebook{
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}
#login-system .btn-google{
    background-color: #454545;
    color: #fff;
    font-weight:bold;
}
#login-footer{
    padding-top: 15px;
    height: 50px;
    background-color: #19872d;
    color: #ffffff;
}
#login-system .carousel div.item{
    width: 750px;
    height: 400px;
}
#login-system .carousel-control.left,
#login-system .carousel-control.right{
    background-image: none;
}

/* MAIN */
.main-system h2,
.main-system a{
    color: #FFFFFF;
    font-weight: bolder;
}

/* REGISTRATION */
.registration small:not(#title){
    color: #ff4b4b;
    font-weight: bolder;
}